## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [4]:
a=5;
print(a);

5

2) Imprimir el tipo de dato de la variable 8.5

In [5]:
b=8.5;
print(type(b));

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [6]:
print(type(a));

<class 'int'>

4) Crear una variable que contenga tu nombre

In [9]:
mi_nombre = "Matias";

5) Crear una constante que contenga el número Pi

In [12]:
PI = 3.14;

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [ ]:
print(type(PI));

<class 'float'>

7) Crear una variable que contenga el valor del número **e** (número de euler) redondeado a 4 decimales

In [1]:
e = 2.71828;
e_redondeado = round(e, 4);

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [2]:
bandera = True
bandera_string = "True"

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [3]:
print("el tipo de dato de bandera es ", type(bandera), " y el tipo de dato de bandera_string es ", type(bandera_string));

el tipo de dato de bandera es  <class 'bool'>  y el tipo de dato de bandera_string es  <class 'str'>

10) Asignar a una variable, la suma de un número entero y otro flotante

In [4]:
total = 3 + 4.5;

11) Realizar una operación de suma de un número definido como string con un entero

In [5]:
t = 3 + int("5");

12) Crear una variable que contenga el valor del punto 7 elevado al cubo (potencia de 3)

In [6]:
p = e_redondeado**3;
print(p);

20.085939737487003

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [8]:
entrada = input("Ingrese un número  por teclado")
resultado = int(entrada) * 10;
print(resultado);

20

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [9]:
cociente = 27/4;
print(cociente);

6.75

15) De la división anterior solamente mostrar la parte entera

In [10]:
entero = int(cociente);
print(int(cociente));

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [11]:
resto = 27%4;
print(resto);

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 15 y 16, obtener 27 como resultado

In [12]:
print(entero+resto+4+14);

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [13]:
print("2"==2); #Porque son distitnos tipos de datos

False

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 18 resulte verdadera

In [14]:
print(int("2")==2);

True

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [15]:
a = float('3.8'); # Porque el separador decimal es el punto no la coma.

21) Realizar la operación 10 + '10' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
print(10+int('10'));#imprime 20
print(str(10)+'10');#imprime 1010, conclusión: no siempre arrojaría el mismo resultado.

22) Crear una variable que contenga un menú con los elementos MENU: 1 - Pizza, 2 - Empanadas, 3 - Milanesas, 4 - Salir, y luego mostrarlo por pantalla

23) Crear una lista que contenga los números del 1 al 10

24) Imprimir el penultimo elemento de la lista creada en el punto 23

25) Modificar el tercer elemento de la lista creada en el punto 23 poniendo tu nombre

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

27) Imprimir la matriz creada en el punto 26

28) Modificar la letra E de la matriz y colocar la letra Z

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

30) Crear una tupla que contenga 5 marcas de ropa

31) Imprimir el primer elemento de la tupla creada en el punto 30

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla